.Windows90sModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c0c0c0;
  border: 2px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding: 20px;
}

.Windows90sModal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Windows90sModal-title {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.Windows90sModal-close {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.Windows90sModal-content {
  font-family: "Arial", sans-serif;
  font-size: 14px;
}
